@each $color-name, $hex-value in $colors-map  {
  .color\(#{$color-name}\) {
    color: $hex-value;
  }

  .color\(hover-#{$color-name}\) {
    transition: color $base-duration $base-easing;

    &:hover {
      color: $hex-value;
    }
  }
}

.color\(currentColor\) {
  color: currentColor;
}